# Add requirements to docker-requirements.txt except for Pandas which you should uncomment below if you need it!
python-slugify==4.0.1
# pandas==1.1.4
# Update version below to latest from https://pypi.python.org/pypi/hdx-python-api/
hdx-python-api==4.8.3
-r docker-requirements.txt
